In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [4]:
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()
df["sex"]=lab.fit_transform(df["sex"])
df["smoker"]=lab.fit_transform(df["smoker"])
df["region"]=lab.fit_transform(df["region"])

In [5]:
df.dtypes

age           int64
sex           int32
bmi         float64
children      int64
smoker        int32
region        int32
charges     float64
dtype: object

In [6]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [8]:
x=df.iloc[:,:-1].values
x

array([[19.  ,  0.  , 27.9 ,  0.  ,  1.  ,  3.  ],
       [18.  ,  1.  , 33.77,  1.  ,  0.  ,  2.  ],
       [28.  ,  1.  , 33.  ,  3.  ,  0.  ,  2.  ],
       ...,
       [18.  ,  0.  , 36.85,  0.  ,  0.  ,  2.  ],
       [21.  ,  0.  , 25.8 ,  0.  ,  0.  ,  3.  ],
       [61.  ,  0.  , 29.07,  0.  ,  1.  ,  1.  ]])

In [9]:
y=df.iloc[:,-1].values
y

array([16884.924 ,  1725.5523,  4449.462 , ...,  1629.8335,  2007.945 ,
       29141.3603])

In [10]:
from sklearn.model_selection import train_test_split
x_train,xtest,y_train,ytest=train_test_split(x,y,test_size=0.30,random_state=1)

In [11]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
xtest=scaler.transform(xtest)

In [12]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(xtest)

In [14]:
#y=mx+c
print("Slope is",model.coef_)

Slope is [3535.60851317 -140.54499098 1925.9112989   429.49110392 9727.71068596
 -354.97389144]

In [15]:
print("intercept is",model.intercept_)

intercept is 13276.698553898497

In [16]:
#Data Frame
df1=pd. DataFrame({'Actual_value':ytest,'Predicted_value':y_pred})
df1

     Actual_value  Predicted_value
0      1646.42970      4500.484328
1     11353.22760     12819.457878
2      8798.59300     12397.712728
3     10381.47870     13430.343290
4      2103.08000       531.776110
..            ...              ...
397   11566.30055     16114.773823
398    1880.48700      3690.989190
399    2457.21115      3217.408995
400   17043.34140     27310.562222
401   26140.36030      9392.537980

[402 rows x 2 columns]

In [17]:
#Performance Evaluation Methods
from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error is",mean_absolute_error(ytest, y_pred) )

Mean Absolute Error is 4139.313074268247

In [18]:
from sklearn.metrics import mean_absolute_percentage_error
print("Mean absolute Percentage Error is",mean_absolute_percentage_error(ytest,y_pred) )
mse=mean_absolute_percentage_error(ytest,y_pred)

Mean absolute Percentage Error is 0.4141006969657302

In [19]:
print("RMSE is",np.sqrt(mse))

RMSE is 0.6435065632654652